$floatingHeaderHeight: 65px

.floating-header--margin
  // height: $floatingHeaderHeight
  width: 100vw
  margin-bottom: $floatingHeaderHeight

.floating-header
  // width: 80%
  position: fixed
  height: $floatingHeaderHeight
  width: 100%
  z-index: 2000
  top: 0
  left: 0
  right: 0
  background-color: $white
  overflow: hidden
  display: flex
  justify-content: center
  transition: all 300ms $smooth

  &.floating-header--float
    box-shadow: $menu-shadow

  .floating-header__row
    // width: 100%
    display: flex
    flex-direction: row

  .floating-header__inner
    // padding-left: ms(1)
    // padding-right: ms(1)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    height: 100%
    position: absolute
    transform: translateY(0)
    transition: transform 380ms $bounce, opacity 400ms $smooth
    // width: 100%
  .floating-header__menu
    margin-left: ms(1)
    margin-right: ms(1)
    border-bottom: solid 1px $white
    opacity: 1
    // border-bottom: solid 1px $secondary
    transition: transform 580ms $bounce, opacity 300ms $smooth
    &.floating-header__menu--active
      // transform: scale(1.1)
      // opacity: 1
      border-bottom: solid 1px $secondary
  .floating-header__edit-mode
    transform: translateY(80px)
    opacity: 0
    transition: transform 380ms $bounce, opacity 300ms $smooth

  &.floating-header--edit
    .floating-header__inner
      transform: translateY(-80px)
      opacity: 0
    .floating-header__edit-mode
      transform: translateY(0)
      opacity: 1
      transition: transform 580ms $bounce, opacity 400ms $smooth

.page-header.floating-header
  width: 100%
  .floating-header__inner.container
    width: 100%
    flex-direction: row
    justify-content: space-around
