
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-pictures:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */